parameters:
    level: 5
    paths:
        - src
        - tests
    excludePaths:
        - var
        - vendor
    tmpDir: var/phpstan
    ignoreErrors:
        - '#Property App\\Entity\\.*::\$id \(int\|null\) is never assigned int so it can be removed from the property type\.#'
        - '#Property App\\Entity\\BreathingExercise::\$cycles \(int\|null\) is never assigned null so it can be removed from the property type\.#'


